<button (click)="salvarPessoa()" type="button" class="btn btn-primary">
  Salvar
</button>
<button type="button" class="btn btn-secondary">Cancelar</button>

<div *ngFor="let jogo of jogos" class="list-group">
  <a
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ jogo.titulo }}</h5>
      <small>{{ jogo.data }}</small>
    </div>
    <p class="mb-1">
      {{ jogo.descricao }}
    </p>
  </a>
</div>
